body{
    color: #efefef;
    background-color: #2a2a2a;
}
h2{
    color: #ffffff;
}

a{
    color: #d3b4ff;
}
li{
    list-style: none;
}
.logo{
    width: calc(10% + 20px);
}
.custom-container{
    width: calc(15% + 285px);
}
.btn-custom{
    color: #2a2a2a;
    background-color: #ffe590;
}
.btn-custom:hover{
    background-color: #d3b4ff;
}
.smaller-logo{
    width: calc(10% + 5px);
}