@import "colors.scss";

body {
    transition: 1s ease;
    color: $text-light;
    background-color: $dark-bg;

    h2 {
        color: $title-light;
    }

    a {
        color: $link-color_dark;
    }

    a:hover {
        color: $link-color_dark;
    }

    .btn-custom {
        color: $dark-bg;
        background-color: #ffe590;
    }

    .btn-custom:hover {
        background-color: $link-color_dark;
    }

    h3 {
        background: linear-gradient(90deg, #41414193, $dark_bg);
        border-radius: 5px;
        line-height: 28px;
        padding: 15px 0px 15px 15px;
    }
    .btn-link{
        width: 275px;
        padding: 8px 10px;
        border: 1px solid #fff;
        margin-bottom: 10px;
        border-radius: 8px;
    }
    .btn-more{
        margin-top: 30px;
        color: white;
        width: 90%;
        text-align: center;
        padding: 8px 20px;
        background-color: #f6beff20;
        border-radius: 8px;
    }
}

body[theme='light'] {
    transition: 1s ease;
    color: $text-dark;
    background-color: $light-bg;

    h2 {
        color: $title-dark;
    }

    a {
        color: $link-color_light;
    }

    a:hover {
        color: $text-dark;
    }

    .btn-custom {
        color: $light-bg;
        background-color: #ffa14f;
    }

    .btn-custom:hover {
        color: $light-bg;
        background-color: $link-color_light;
    }

    h3 {
        background: linear-gradient(90deg, #ffd6d6cb, $light-bg);
        border-radius: 5px;
        line-height: 28px;
        padding: 15px 0px 15px 15px;
    }
    .btn-link{
        width: 275px;
        padding: 8px 10px;
        border: 1px solid #000;
        margin-bottom: 10px;
        border-radius: 8px;
    }
    .btn-link span{
        color: black;
    }
    .btn-more{
        margin-top: 30px;
        color: black;
        width: 90%;
        text-align: center;
        padding: 8px 20px;
        background-color: #dd00ff10;
        border-radius: 8px;
    }
}

#theme_btn {
    text-decoration: none;
    position: fixed;
    top: 10px;
    right: 10px;
}


.logo {
    width: calc(4% + 20px);
}
#jquery_logo{
    width: calc(4% + 60px);
}
.custom-container {
    width: calc(20% + 260px);
}

.smaller-logo {
    width: calc(4% + 5px);
}

.totoro {
    display: block;
    width: 150px;
    margin: auto;
}

.img-custom{
    width: calc(80% + 20px);
}

.italic {
    font-style: italic;
}
.promise{
    font-size: 12px;
    color: #7bbba6;
}

.btn-link img{
    margin-left: 5px;
    height: 40px;
}
.span-link{
    margin-left: 10px;
}